<h1 class='center'>URL Shortener</h1>

<form id='shortenForm'>
  <div>
    <input type='text' name='url' placeholder='Paste a link to shorten it' class='center unique' id='url'>
    <input type='submit' class='button' value=<%= t('buttons.shorten') %>>
  </div>
  <p class='error'></p>
  <p class='success'></p>
</form>

<script type='text/javascript'>
  $(document).ready(function() {
    $('#shortenForm').submit(function(event) {
      $.ajax({
          type: 'POST',
          url: '/',
          data: { url: $('#url').val() },
          success: function(data, status, xhr) {
            $('#url').removeClass('inputError');
            $('p.error').hide();
            $('#url').val(xhr.getResponseHeader('Location'))
            $('#url').select();
            $('p.success').text('Such a shortened url! Feel free to copy it!')
            $('p.success').show();
          },
          error: function(xhr) {
            console.log(xhr.status)
            if (xhr.status == 400)  {
              $('p.success').hide();
              $('p.error').text('Invalid url');
              $('p.error').show();
              $('#url').addClass('inputError');
              $('#url').select();
            }
          }
      })

      event.preventDefault();
    });
  });
</script>
