<div class='center'>
  <h1>URL Shortener</h1>

  <form id='shortenForm'>
    <input type='text' name='url' placeholder='Paste a link to shorten it' id='url'>
    <input type='submit' class='button' value=<%= t('buttons.shorten') %>>
    <p class='message'></p>
  </form>

</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('#shortenForm').submit(function(event) {
      $.ajax({
          type: 'POST',
          url: '/',
          data: { url: $('#url').val() },
          success: function(data, status, xhr) {
            $('#url').removeClass('inputError');
            $('#url').val(xhr.getResponseHeader('Location'))
            $('#url').select();
            $('p.message').text('Such a shortened url! Feel free to copy it!')
            $('p.message').show();
          },
          error: function(xhr) {
            console.log(xhr.status)
            if (xhr.status == 400)  {
              $('p.message').text('Invalid url');
              $('p.message').show();
              $('#url').addClass('inputError');
              $('#url').select();
            }
          }
      })

      event.preventDefault();
    });
  });
</script>
