/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: menlo;
}

h1.center {
  position: fixed;
  top: 10%;
  margin-left: -140px;
  left: 50%;
}

input.center {
  height: 45px;
  width: 465px;
  text-align: center;
  margin-top: 200px;
  margin-left: 470px;
  font-size: 25px;
}

p.error {
  width: 200px;
  margin-left: 610px;
  text-align: center;
  height: 30px;
  font-size: 20px;
  display: none;
  background-color: #DE3530;
}
